/* Contenedor nav */
.nav_conteiner {
    display: flex;
    justify-content: end; /* Lo manda a la derecha */
    position: sticky; /* Posición pegajosa */
    top: 0; /* Arriba de todo */
    width: 100%;
    height: 70px;
    background-color: white;
}

/* Contenedor div Logo */

.nav_conteinerLogo img{
    width: 50px;
    height: 50px;
    align-items: center;
    bottom: 5px;
    top: 5px;
    position: absolute; /* Posición absoluta dependiendo su padre  más cercano
    relativo */
    bottom: 0; /* Abajo */
    left: 30px; /* Izquierda */
}

/* Contenedor nav Menu */

.nav_conteinerMenu {
    width: 30%; /* Ancho */
    height: auto; /* Alto */
    margin-right: 10px; /* margen a la derecha */
    align-items: center;
    display: flex;
    justify-content: space-around; /* Espacio entre el contenedor */
    position: absolute;
    right: 30px;
}

.nav_conteinerMenu a {
    text-decoration: none;
    color: black;
}
